/*General elements*/
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
	background-color: #e6e6e6;
	display: table-cell;
    vertical-align: middle;
}

h1, h2, h3 {
	color: #404040;
}

h1 {
	margin-top: 15px;
}

h2 {
	margin-top: 0px;
}
footer {
  	margin-top: 60px;
  	padding: 10px;
  	text-align: center;
  	width: 100%;
  	border-top-style: solid;
  	border-top-width: 1px;
  	border-top-left-radius: 150px;
  	border-top-right-radius: 150px;
  	border-top-color: #404040;
}

.container {
	/*border-style: solid none;*/
	padding: 15px;
	margin: 20px;
}

/*This was a gradient background, which was pretty cool, but looked like the website was built in MS Frontpage*/
/*    background: #ffe6e6; /* For browsers that do not support gradients */
/*    background: -webkit-linear-gradient(#ffe6e6, #4d0000); /* For Safari 5.1 to 6.0 */
 /*   background: -o-linear-gradient(#ffe6e6, #4d0000); /* For Opera 11.1 to 12.0 */
/*    background: -moz-linear-gradient(#ffe6e6, #4d0000); /* For Firefox 3.6 to 15 */
/*    background: linear-gradient(#ffe6e6, #4d0000); /* Standard syntax (must be last) */
/*    background-attachment: fixed;*/

/*    background: #4d0000; /* For browsers that do not support gradients */
/*    background: -webkit-linear-gradient(#4d0000, #ffe6e6); /* For Safari 5.1 to 6.0 */
/*    background: -o-linear-gradient(#4d0000, #ffe6e6); /* For Opera 11.1 to 12.0 */
/*    background: -moz-linear-gradient(#4d0000, #ffe6e6); /* For Firefox 3.6 to 15 */
/*    background: linear-gradient(#4d0000, #ffe6e6); /* Standard syntax (must be last) */
/*    background-attachment: fixed;*/

/*Navbar shizzle*/

#buttonAbout {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #595959;
}

#buttonPortfolio {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #737373;
}

#buttonEducation {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #8c8c8c;
}

#buttonWork {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #a6a6a6;
}

#buttonSkills {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #bfbfbf;
}

#buttonContact {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #d9d9d9;
}

.paddingForNav {
	padding-top: 60px;
}

.navbar-inverse {
	background-color: #404040;
}

.navbar .navbar-nav > li > a {
	color: #bfbfbf;
}

#ownName {
	font-color: #bfbfbf;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
	color: #d9d9d9;
}

/*Dit is volgens mij voor scrollspy*/
/*.navbar .navbar-nav > .active > a, 
.navbar .navbar-nav > .active > a:hover, 
.navbar .navbar-nav > .active > a:focus {
	color: yellow;
	background-color: green;
}
.navbar .navbar-nav > .open > a, 
.navbar .navbar-nav > .open > a:hover, 
.navbar .navbar-nav > .open > a:focus {
	color: orange;
	background-color: pink;
}*/



/*About*/
#fixedHeight {
	height: 40px;
}

#about {
	font-size: 1.2em;
	padding-top: 50px;
	padding-right: 50px;
}

/*Portfolio*/
#clickImage {
	font-size: 1.2em;
}

.portfolioPic {
	padding: 15px 0px;
	position: relative;
}

/*Education/work*/
.year {
	text-align: right;
}

/*Matching containers to NavButtons*/
#sectionAbout {
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #595959;
	background-color: #f2f2f2;
}

#sectionPortfolio {
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #737373;
	background-color: #f2f2f2;
}

#sectionEducation {
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #8c8c8c;
	background-color: #f2f2f2;
}

#sectionWork {
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #a6a6a6;
	background-color: #f2f2f2;
}

#sectionSkills {
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #bfbfbf;
	background-color: #f2f2f2;
}

#sectionContact {
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #d9d9d9;
	background-color: #f2f2f2	;
}

/*Contact*/
#email {
    text-align: center;	
}

.sb {
    text-align: center;
}