/*useful color picker: http://www.w3schools.com/colors/colors_picker.asp*/
/* #4d0000 = 15% rood. gebruiken in navbar en headings*/


body {

/*    background: #ffe6e6; /* For browsers that do not support gradients */
/*    background: -webkit-linear-gradient(#ffe6e6, #4d0000); /* For Safari 5.1 to 6.0 */
 /*   background: -o-linear-gradient(#ffe6e6, #4d0000); /* For Opera 11.1 to 12.0 */
/*    background: -moz-linear-gradient(#ffe6e6, #4d0000); /* For Firefox 3.6 to 15 */
/*    background: linear-gradient(#ffe6e6, #4d0000); /* Standard syntax (must be last) */
/*    background-attachment: fixed;*/
/*
/*    background: #4d0000; /* For browsers that do not support gradients */
/*    background: -webkit-linear-gradient(#4d0000, #ffe6e6); /* For Safari 5.1 to 6.0 */
/*    background: -o-linear-gradient(#4d0000, #ffe6e6); /* For Opera 11.1 to 12.0 */
/*    background: -moz-linear-gradient(#4d0000, #ffe6e6); /* For Firefox 3.6 to 15 */
/*    background: linear-gradient(#4d0000, #ffe6e6); /* Standard syntax (must be last) */
/*    background-attachment: fixed;*/


background-color: #ffe6e6
}

/*Navbar shizzle*/
.navbar {
	background-color: #4d0000
}


.portfolioPic {
	padding: 15px 0px;
}


.year {
	text-align: right;
}


.container {
	/*border-style: solid none;*/
	padding: 15px;
	margin: 20px;
}

#buttonAbout {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #800000;
}

#buttonPortfolio {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #b30000;
}

#buttonEducation {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #e60000;
}

#buttonWork {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #ff1a1a;
}

#buttonSkills {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #ff4d4d;
}

#buttonContact {
	border-bottom-style: solid;
	border-bottom-width: 5px;
	border-bottom-color: #ff8080;
}

#sectionAbout {
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #800000;
	background-color: #ffe6e6;
}

#sectionPortfolio {
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #b30000;
	background-color: #ffe6e6;
}

#sectionEducation {
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #e60000;
	background-color: #ffe6e6;
}

#sectionWork {
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #ff1a1a;
	background-color: #ffe6e6;
}

#sectionSkills {
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #ff4d4d;
	background-color: #ffe6e6;
}

#sectionContact {
	border-left-style: solid;
	border-left-width: 15px;
	border-left-color: #ff8080;
	background-color: #ffe6e6	;
}

/*werkt nog niet?? wil een streep eronder in dezelfde kleur als naast het onderdeel*/
#buttonAbout {
	border-style: solid 10px;
	border-color: red;
}




/*Examples on how to address them*/
h6 {
	color: red;
}

/*only ONE element: id: id="blabla" */
#moon {
	color: grey;
	background-color: black;
}

/*class*/
.list {
	color: brown;
}
